.col-3{
  width: 96%;
  margin: 0 0 0 15px;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 2px 5px 10px 10px #f2f2f2; 
}

.card{
  width: auto;
  height: auto;
  display: flex;
}

.imagDiv{
  padding: 0 30px 0 15px;
}

.product-image-list{
  width: 20vw;
  height: 30vh;
}

.product-title-list{
  margin: 5px 0;
}

.card-title{
  margin: 15px 0;
  padding: 15px 0;
  font-size: 14px;
}

.button-buy-now{
  text-decoration: none;
  color: inherit;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 5px 2px 10px 5px #f2f2f2;
}

.button-add-to-cart{
  text-decoration: none;
  color: inherit;
  border-radius: 8px;
  margin-left: 20px;
  padding: 10px;
  box-shadow: 5px 2px 10px 5px #f2f2f2;
}

.button-buy-now:hover{
  background-color: gray;
  color: #fff;
}

.button-add-to-cart:hover{
  background-color: gray;
  color: #fff;
}

.dropDown_div{
  font-family: inter_semi_bold,fallback-inter_semi_bold,Arial,sans-serif;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropDown_span::after{
    content: "";
    display: inline-block;
    position: relative;
    height: 6px;
    width: 6px;
    border-color: #111112;
    border-style: solid;
    border-width: 0 2px 2px 0;
    transform: scale(1) translateY(-50%) rotate(45deg); 
    border-color: #111112;
    /* transform-origin: 50% 50%; */
    /* transition: transform .3s; */
}

.dropDown_span.active::after {
  transform-origin: 50% 50%;
  transform: scale(1) translateY(-50%) rotate(225deg);
  transition: transform .3s;
  border-color: #2874f0;
}

.loading-api{
    margin: 200px 400px;
    font-size: 24px;
    font-weight: bolder;
}

.listItems {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 10px;
  padding: 0;
  list-style-type: none;
}

.listItems.show {
  display: block;
}

.navbar_items{
  list-style-type: none;
  text-decoration: none;
  color: inherit;
  text-align: left;
  position: absolute;
  /* top: 100%; */
  left: 0;
  height: auto;
  margin-top: 10px;
  padding: 0;
}

.dropDown_div:hover .listItems {
  display: block;
}

/* .navbar_items:hover{
  display: block;
} */